/* подключение шрифтов через import с сайта */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700;800&display=swap');

/* //шрифты  */
@font-face {
  font-family: 'Gilroy-Regular';
  src: url(fonts/Gilroy-Regular.ttf);
}

@font-face {
  font-family: 'Gilroy-Bold' ;
  src: url(fonts/Gilroy-Bold.ttf)
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-family: 'Montserrat', sans-serif;
  background: url(img/background.jpg);
}
strong{
  font-family: 'Gilroy-Bold';
}
li{
  list-style: none;
}
a{
  text-decoration: none;
  color: black;
}
input{
  outline: none;
  border: none;
}
/* общее */
.container{
  max-width: 1500px;
  width: 100%;
  margin: auto;
}

/* заголовок */
.title{
  font-family: 'Gilroy-Bold';
  font-size: 48px;
  line-height: 120%;

}
.title span{
  font-family: 'Gilroy-Regular';
  font-weight: 400;
}
.title p{
  font-family: 'Gilroy-Regular';

}

/* кнопки ---------------------------- */

.button-secondary{
  background: #FF9900;
  border-radius: 10px;
  color:#fff;
  font-weight: bold;
}
.button-primary{
  position: relative;
  color: #FFFFFF;
  font-weight: 700;
  background: #FF4D00;
  box-shadow: 0px 0px 20px rgba(255, 76, 0, 0.8);
  border-radius: 30px;
}
.button-primary::before{
  position: absolute;
  content: '';
  top: 5px;
  left: 3px;
  right: 3px;
  bottom: 5px;
  border: 1px solid #fff;
  width: 98%;
  height: 86%;
  border-radius: 30px;
  margin: auto;
}

/* нижнее подчеркивание ------------ */
.underscore{
  border-bottom:  2px solid #FF9900;
}

/* коробка с тенями и закруглениями */
.box-shadow{
  padding: 17px 20px;
  background: #fff;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
}


/* карточка */
.card-circle{
  border-radius:50%;
}

/* ссылки */
.link{
  color: #FF9900;
  text-decoration: underline;

}

/* header */
.header{
  position: relative;
  z-index: 10000;
  display: flex;
  flex-direction: column;
  background: #FFFFFF;
  padding: 18px 50px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
  border-radius: 0px 0px 30px 30px;
}
/* верхнее */
.header-top{
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  padding-bottom: 15px;
  border-bottom:2px solid #FF9900;
}
.header-logo{
  /* background:#FF9900; */
  margin-right: 60px;
}
.contacts{
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
}
.contact__link{
  display: flex;
  align-items: center;
  border-right: 1px solid #FF9900;
}
.contact__link:last-child{
  border:none;
}
.contact__link img{
  margin-right: 10px;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  padding: 10px;
  border: 1px solid #000000;
}
.contact__pickup{
 padding-right: 6px;
}
.contact__delivery , .contact__orders{
  padding-right: 36px;
}
.contact__tel{
  font-weight: bold;
  font-size: 20px;
  line-height: 150%;
}
/* нижнее  */
.header-bottom{
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  padding-top: 18px;
}
.menu{
  max-width: 1200px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  line-height: 150%;
  font-size: 18px;
}
.menu .afghan-cauldrons{
  background: url(img/header/kazan.svg)no-repeat left;
  padding-left: 25px;
}
/* кнопка с карзиной */
.button-basket__link{
  position: relative;
  display: flex;
  align-items: center;
  padding: 4px 17px;
  font-size: 18px;
}
.button-basket__link::before{
  position: absolute;
  content: '1';
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #000;
  color:#fff;
  top: -12px;
  right: -12px;
  display: flex;
  align-items: center;
  justify-content: center;
}
[alt=basket]{
  margin-left: 15px;
}

/* promo */
.sectio-promo{
  margin-top: 80px;
  position: relative;
  padding-bottom: 50px;
}
.sectio-promo::before {
  position: absolute;
  content: '';
  width: 100%;
  height: 646px;
  bottom: 0;
  right: 0;
  background: linear-gradient(
350deg, #FF9900 3.64%, rgba(255, 153, 0, 0) 71.38%);
  opacity: 0.5;
}
.promo{
  position: relative;
  z-index: 1000;
}
h1{
  font-family: 'Gilroy-Regular';
  font-size: 72px;
  line-height: 150%;
  font-weight: 700;
  color: #392219;
  max-width: 893px;
  width: 100%;
  margin-bottom: 50px;
}
h1 strong{
  font-family: 'Gilroy-Regular';
  font-size: 80px;
  display: contents;
  color: #FF9900;
  text-shadow: 1px 1px 0 #000, 2px 2px 0 #000, 3px 3px 0 #000, 4px 4px 0 #000, 5px 5px 0 #000;
}
.promo-text {
  font-size: 36px;
  line-height: 150%;
  margin-bottom: 15px;
  position: relative;
}
.promo-text::before{
  position: absolute;
  content:'';
  background: url(img/promo/image_60__1_-removebg-preview.png) no-repeat center / 100%;
  top: -550px;
  right: 0;
  width: 760px;
  height: 820px;
}
.refund-money{
  font-size: 20px;
  margin-bottom: 10px;
}
/* коробка с подарком */
.promo-info{
  padding:13px 0 48px 39px;
}
.promo-get-gift{
  color: #D39254;
  font-size: 24px;
  display: flex;
  align-items: center;
}
[alt=gif-box]{
  margin-left: 20px;
}
.box-bonuses{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 750px;
  font-size: 24px;
  margin-top: 37px;
}
.text-recipes{
  background: url(img/promo/open-book.png) no-repeat left;
  padding-left: 130px;
}
.text-discount{
  background: url(img/promo/discount.png) no-repeat left;
  padding-left: 130px;
  height: 80px;
}
.prom__box-buttons{
  max-width: 895px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 50px;
}
.button__get-gift{
  font-size: 20px;
  padding: 10px 20px;
}
.link-catalog{
  color: #CD823B;
  font-weight: bold;
  font-size: 20px;
  text-decoration-line: underline;
}


/* возможности */
.section-opportunities{
  background: #fff;
  padding: 30px 0;
  margin-bottom: 30px;
}
.opportunities{
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: flex-start;
}
.possibility{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.possibility .possibility-img{
  font-size: 40px;
  padding: 25px;
  border:  2px solid #FF9900;
  border-radius: 50%;
  width: 100px;
  height: 100px;
}
.payment-method{
  background: url(img/opportunities/payment-method.svg) no-repeat center / 50px;
}
.cauldron{
  background: url(img/opportunities/cauldron.svg) no-repeat center / 50px;
}

.discount{
  background: url(img/opportunities/discount.svg) no-repeat center / 50px;
}
.comment{
  background: url(img/opportunities/comment.svg) no-repeat center / 50px;
}
.possibility p{
  font-size: 24px;
  margin-top: 10px;
}

/* положительные отзывы */

.section-positive-reviews{
  padding-top: 50px;
  margin-bottom: 50px;
  background: #fff;
  position: relative;
}
.section-positive-reviews::before {
  position: absolute;
  content: '';
  width: 100%;
  height: 646px;
  bottom: 0;
  right: 0;
  background: linear-gradient(350deg, #FF9900 3.64%, rgba(255, 153, 0, 0) 71.38%);
  opacity: 0.5;
}
.positive-reviews{
  display: flex;
  flex-direction: column;
  position: relative;
  z-index: 100;
}
.positive-reviews__title{
  margin-left: 350px;
  margin-bottom: -150px;
}
.positive-reviews__info {
  font-weight: normal;
  font-size: 24px;
  line-height: 120%;
  font-family: 'Gilroy-Regular';
}
.positive-reviews__info strong{
  font-family: 'Gilroy-Bold';
  font-weight: normal;
  font-size: 48px;
  line-height: 120%;
  margin-bottom: 20px;
}


.positive-reviews__body{
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: flex-end;
}
/* коробка с мужчиной */
.positive-reviews__box-man{
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  max-width: 496px;
  width: 100%;
  position: relative;
  background:linear-gradient(0deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 38.59%), url(img/positive-reviews/man.png) no-repeat center;
  height: 745px;
}

.positive-reviews__box-man .box-man__name{
  font-family: 'Gilroy-Bold';
  font-size: 18px;
  line-height: 120%;
  padding: 9px 70px;
  background: #fff;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  margin-bottom: 10px;
  position: absolute;
  bottom: 167px;
  right: 50px;
}
.positive-reviews__box-man .box-man__post{
  font-family: 'Gilroy-Regular';
  font-size: 18px;
  line-height: 120%;
  padding: 9px 12px;
  background: #fff;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  position: absolute;
  bottom: 122px;
  right: 50px;
}

/* коробка с карточками */
.box-positive-reviews__cards{
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  max-width: 1090px;
  margin-top: 30px;
}
/* карточка */
.positive-reviews__card{
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 330px;
  min-height: 220px;
  font-size: 16px;
  line-height: 120%;
  margin-bottom: 30px;

  padding: 15px;
  background: #FFFFFF;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}
/* заголовок в карточке  */
.positive-reviews__card-title{
  display: flex;
  margin-bottom: 10px;
}
.positive-reviews__card-title h3{
  font-size: 17px;
}
.positive-reviews__circle{
  font-size: 40px;
  padding: 25px;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  margin-right: 10px;
}
/* картинки в круге */
.warranty__circle{
  background: url(img/positive-reviews/guarantee.svg) no-repeat center, #FF9900;
}
.factory__circle{
  background: url(img/positive-reviews/industry.svg) no-repeat center, #FF9900;
}
.experts__circle{
  background: url(img/positive-reviews/cauldron.svg) no-repeat center, #FF9900;
}
.delivery__circle{
  background: url(img/positive-reviews/fast-delivery.svg) no-repeat center, #FF9900;
}
.payment__circle{
  background: url(img/positive-reviews/credit-cards-payment.svg) no-repeat center, #FF9900;
}
.discount__circle{
  background: url(img/positive-reviews/discount.svg) no-repeat center, #FF9900;
}
/* текст в карточке */
.positive-reviews__card-text{
  text-align: center;
  margin-bottom: 10px;
  max-width: 294px;
}
.positive-reviews__card-link{

  margin: auto;
}


/* рассрочка */
.section-installment-plan{
  background: #fff;
  padding: 30px 0;
}
.installment-plan{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.installment-plan__title{
  font-family: 'Gilroy-Bold';
  font-size: 24px;
  line-height: 120%;
  background: url(img/installment-plan/discount.svg) no-repeat left;
  padding-left: 40px;
  margin-bottom: 30px;
}
.installment-plan__cards{
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  margin-bottom: 40px;
}
.installment-plan__card{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.installment-plan__card img{
  margin-bottom: 10px;
}
.installment-plan__card strong{
  font-size: 20px;
  line-height: 150%;
}
.installment-plan__card span{
  font-size: 20px;
  line-height: 150%;
}
.button__buy-installments{
  padding: 10px 30px;
  font-weight: bold;
  font-size: 20px;
  line-height: 150%;
}


/* оригинальные  */
.section-original{
  margin-top: 82px;
  font-family: 'Gilroy-Bold';
  margin-bottom: 118px;
}
.original{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.original-title{
  max-width: 1100px;
  margin-bottom: 18px;
}
.original p{
  font-family: 'Gilroy-Regular';
}
.original-info{
  margin-bottom: 20px;
  font-size: 18px;
}

[alt=original-man]{
  border: 2px solid #FF9900;
  border-radius:50%;
}
.original-manager{
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  max-width:455px;
  width: 100%;
  margin-bottom: 50px;
}
.original-manager__post{
  font-size: 24px;
  margin-bottom: 9px;
  margin-left: 34px;

}
.original-manager__feedback{
  padding: 12px 10px 10px 67px;
  background: #fff;
  box-shadow: 0px 0px 20px rgb(0 0 0 / 10%);
}
/* фигура */
.original-manager__figure{
  width: 285.5px;
  height: 56.5px;
  clip-path: polygon(0% 0%, 100% 25%, 100% 100%, 10% 100%);
}

/* тело */
.original__box-body{
  background: url(img/original/img-34.png) no-repeat center;
  width: 100%;
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: flex-start;
}
/* коробка с гарантие */
.warranty-box{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 560px;
}
/* 100% чугун        (левая коробка) */
.percentage{
  position: relative;
  font-size: 36px;
  text-align: center;
  max-width:146px;
  max-height: 146px;
  background: #fff;
  border-radius:50%;
  padding: 30px;
  border: 2px solid #FF9900;
}
.percentage::before{
  position: absolute;
  content:'';
  width: 28px;
  height: 28px;
  top: 3px;
  right: 15px;
  background: #FF9900;
  border-radius:50%;
}
.percentage::after{
  position: absolute;
  content:'';
  width: 11px;
  height: 11px;
  bottom: 3px;
  right: 5px;
  background: #FF9900;
  border-radius:50%;
}
.percentage-border{
  position: relative;
  max-width: 176px;
  max-height: 176px;
  padding: 15px;
  border: 2px solid #FF9900;
  border-radius:50%;
}
.percentage-border::after{
  position: absolute;
  content:'';
  width: 18px;
  height: 18px;
  top: 4px;
  right: 21px;
  background: #FF9900;
  border-radius:50%;
}
.percentage-border::before{
  position: absolute;
  content:'';
  width: 11px;
  height: 11px;
  top: 28px;
  left: -9px;
  background: #FF9900;
  border-radius:50%;
}

/* текст к 100% чугун */
.warranty-box p{
  max-width: 375px;
  font-size: 24px;
  text-align: center;
}


/* ссылки продукции                    (правая коробка) */
.product-links{
  max-width: 400px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
/* карточка */
.product-links__card{
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  width: 100%;
  margin-bottom: 40px;
}
.product-links__card:last-child{
  margin-bottom: 0;
}
.product-links__card img{
  border: 2px solid #FF9900;
  border-radius:50%;
  padding: 10px;
}
.product-links__info{
  display: flex;
  flex-direction: column;
  margin-left: 10px;
}
.product-links__info strong{
  font-size: 24px;
}
.product-links__info a{
  font-size: 18px;
  font-family: 'Gilroy-Regular';
  margin-top: 10px;
}
.button__catalog{
  font-size: 20px;
  padding: 7px 30px;
  margin-bottom: 40px;
}
.compare__link{
  font-size: 18px;
  font-family: 'Gilroy-Regular';
  margin-bottom: 70px;
}
/* карточка с осторожно */
.carefully{
  background: url(img/original/image-38.png) no-repeat top left , #fff ;
  width: 100%;
  padding-bottom: 103px;
}
.title-color{
  color: #FF4D00;
}
.carefully__title{
  margin-top: 10px;
  margin-left: 360px;
  margin-bottom: 16px;
  max-width: 992px;
}
.carefully__info{
  max-width: 905px;
  font-size: 24px;
  margin-left: 470px;
  margin-bottom: 143px;
}
.carefully__box-footer{
  display: flex;
  align-items: flex-end;
}
.carefully__box-footer__text{
  display: flex;
  flex-direction: column;
  max-width: 673px;
}
.carefully__box-footer__text h3{
  font-size: 36px;
  font-family: 'Gilroy-Regular';
  margin-bottom: 10px;
}
.carefully__box-footer__text p {
  font-size: 18px;
}
.coin-box{
  margin-left: 66px;
  position: relative;
}
.coin-box::before{
  position: absolute;
  content:'';
  background: url(img/original/image-35.png) no-repeat center ;
  bottom: -100px;
  right: -412px;
  width: 312px;
  height: 295px;
}


/* промежуток оранживый */
.gap{
  background: #FF9900;
  color: #FFFFFF;
  font-family: 'Gilroy-Regular';
  font-size: 48px;
  line-height: 120%;
  padding: 20px 0;
}


/* каталог  */
.section-catalog{
  font-family: 'Gilroy-Regular';
  padding-top: 50px;
  padding-bottom: 80px;
  background: #FFFFFF;
}
.catalog__box-links{
  display: flex;
  max-width: 652px;
  width: 100%;
  justify-content: space-between;
  margin-left: 170px;
  margin-top: 40px;
  margin-bottom: 50px;
}
.catalog__box-link{
  font-size: 24px;
}
/* подкаталог */
.subdirectory-box{
  display: flex;
  align-items: center;
  font-size: 24px;
}
.circle__family-img{
  position: relative;
  width: 50px;
  height: 50px;
  background: url(img/catalog/big-family.svg) no-repeat center , #FF9900;
  border-radius:50%;
  padding: 8px;
  margin-right: 30px;
  margin-left: 30px;
}
.circle__family-img::after{
  position: absolute;
  content: '';
  width: 67px;
  height: 67px;
  top: -9px;
  left: -9px;
  border: 1px solid #FF9900;
  border-radius: 50%;
}
/* каталог с карточками */
.catalog__cards{
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: 30px;
  margin-bottom: 100px;
  flex-wrap: wrap;
}
.catalog-card{
  max-width: 330px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.catalog__cards__card{
  margin-bottom: 30px;
}
/* заголовок карточки */
.catalog-title{
  text-align: center;
}
.catalog-title h4{
  font-size: 24px;
  font-family: 'Gilroy-Bold';
  margin-bottom: 5px;
}
.catalog-title .user{
  background: url(img/catalog/user.svg) no-repeat left;
  padding-left: 28px;
}
/* контент */
.content{
  background: #F8F8F8;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}
.catalog-content{
  margin-top: 20px;
  max-width: 290px;
  width: 100%;
  padding: 10px 10px 15px 20px;
}
.content__line{
  display: flex;
  justify-content: space-between;
  padding-bottom: 8px;
  margin-bottom: 7px;
  border-bottom: 1px solid #0000007c;
  font-size: 14px;
}
.content__line:last-child{
  border-bottom: none;
}
.content__line span{
  position: relative;
}
.content__line span::after{
  position: absolute;
  content:'';
  width: 10px;
  height: 10px;
  background: #FF9900;
  top: 4px;
  left: -15px;
  border-radius:50%;
}

/* цена */
.catalog__prices-box{
  max-width: 290px;
}
.prices-box{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 40px;
  border: 1px solid #F8F8F8;
  box-sizing: border-box;
  border-radius: 10px;
  background: #FFFFFF;
  margin-bottom: 10px;
}
.text-crossed{
  position: relative;
  font-size: 18px;
  color: rgba(0, 0, 0, 0.479);
}
.text-crossed::before{
  position: absolute;
  content:'';
  width: 100%;
  height: 1.5px;
  background:#FF0000;
  top: 10px;
  left: 0;
}
.price-box{
  display: flex;
  justify-content: space-between;
  max-width: 212px;
  border: 1px solid #FF9900;
  box-sizing: border-box;
  border-radius: 10px;
  align-items: center;
}
.price-box strong{
  font-size: 18px;
  padding: 5px 17px;
}
.price-box p{
  font-size: 12px;
  padding-right: 9px;
}
/* кнопки */
.catalog__button-box{
  max-width: 296px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}
.button__buy{
  padding: 10px 71px;
  font-size: 20px;
}
.button__shopping-cart{
  position: relative;
  width: 50px;
  height: 50px;
  background: #FF9900;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.button__shopping-cart::before{
  position: absolute;
  content: '+';
  width: 25px;
  height: 25px;
  background:#000;
  color:#fff;
  top: -6px;
  right: -9px;
  font-size: 18px;
  border-radius:50%;
  text-align: center;
}

/* коробка с наборами */
.section-set{
  margin-top: -125px;
  margin-bottom: 80px;
}
.box-set{
  font-family: 'Montserrat', sans-serif;
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 30px;
}
/* левая сторона */
.box-set .left-side{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  max-width: 370px;
  padding-right: 20px;
  border-right:1px solid #00000067;
}
.box-set h3{
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}
.box-set p{
  font-size: 18px;
}
/* правая сторона */
.box-set .right-side{
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-left: 60px;
}
.box-set .right-side .row-cards{
  display: flex;
  justify-content: space-between;
  width: 100%;

}
.right-side .row-cards .card-set{
  max-width: 140px;
  width: 100%;
  padding: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  border: 1px solid rgba(0, 0, 0, 0.5);
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
  border-radius: 10px;

}
.card-set span{
  font-size: 14px;
  margin-top: 10px;
}


/* виды печей */
.section-kinds{
  margin-top: 50px;
  font-family: 'Gilroy-Regular';
}

.kinds h2{
  font-family: 'Montserrat', sans-serif;
  max-width: 767px;
  margin-bottom: 30px;
}
.box-buttons-menu{
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin-bottom: 30px;
}
.menu-button{
  position: relative;
  max-width: 250px;
  min-height: 100px;
  width: 100%;
  display: flex;
  align-items: center;
}
.menu-button:first-child{
  max-width: 195px;
}
.menu-button::before{
  position: absolute;
  content:'';
  opacity: 0.5;
  width: 1px;
  height: 61px;
  background:#000;
  top: 20px;
  right: 0;
}
.menu-button span{
  font-size: 20px;
  font-family: 'Gilroy-Regular';
  margin-left: 13px;
}
/* коробка с описанием */
.product-description{
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding-bottom: 76px;
  padding-top: 40px;
  margin-bottom: 100px;
}
/* верхняя часть */
/* описание */
.description{
  display: flex;
  flex-direction: column;
  max-width: 717px;
  width: 100%;
  justify-content: space-between;

}
.description-top{
  display: flex;
  max-width: 717px;
  width: 100%;
  justify-content: space-between;
  border-bottom: 1px solid #000;
  padding-bottom: 30px;
  margin-bottom: 20px;
}
.description-info {
  max-width: 360px;
  width: 100%;
  display: flex;
  flex-direction: column;
}
.description-info h3{
  font-family: 'Gilroy-Bold';
  font-size: 36px;
  margin-bottom: 20px;
}
.description__catalog-content{
  padding: 20px;
  padding-left: 35px;
  width: 100%;
  max-width: 360px;
}
/* различия */
.differences{
  max-width: 317px;
  display: flex;
  flex-direction: column;
  padding-left: 30px;
  border-left: 1px solid #000000;
}
.differences span{
  font-size: 14px;
  margin-bottom: 20px;
}
.differences-menu{
  display: flex;
  max-width: 200px;
  width: 100%;
  align-items: center;
  margin-bottom: 30px;
}
.differences-menu img{
  margin-right: 20px;
}
.differences-menu span{
  font-size: 24px;
  display: flex;
  margin: auto;
}
.differences p{
  font-size: 24px;
  padding-bottom: 60px;
}
/* нижняя часть */
.description-bottom{
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.description__prices-box .price-box{
  padding: 15px 0;
}
.description-discount span , .description-size span{
  display: flex;
  margin-bottom: 20px;
  font-size: 24px;
}
.description-size .size__product__list{
  background: #FBFBFA;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  font-size: 24px;
  padding: 15px;
  border: none;
  font-family: 'Gilroy-Bold';
  max-width: 190px;
  width: 100%;
}
.description .catalog__button-box {
  padding-top: 60px;
  margin: auto;
}

/* причины купить */
.section-reasons-buy{
  padding: 50px 0;
  margin-bottom: 100px;
}
.reasons-buy{
  background: url(img/reasons-buy/image-54.jpg) no-repeat right;
}
.reasons-buy h2{
  margin-bottom: 30px;
}
.reasons-buy span{
  display: flex;
  max-width: 720px;
  width: 100%;
  font-size: 24px;
  line-height: 150%;
  margin-bottom: 30px;
}
/* карточки  */
.reasons__cards{
  display: flex;
  flex-wrap: wrap;
  max-width: 936px;
  width: 100%;
  justify-content: space-between;
  min-height: 340px;
  height: 100%;
}
/* кккарточка */
.reasons__card{
  display: flex;
}
.reasons__card-circle{
  width: 100px;
  height: 100px;
  border-radius:50%;
}
.img-like{
  background: url(img/reasons-buy/like.svg) no-repeat center ,  #FF9900;
}
.img-fire{
  background: url(img/reasons-buy/fire.svg) no-repeat center ,  #FF9900;
}
.img-future{
  background: url(img/reasons-buy/future.svg) no-repeat center ,  #FF9900;
}
.img-smoke{
  background: url(img/reasons-buy/smoke.svg) no-repeat center ,  #FF9900;
}
.reasons__card-info{
  max-width: 333px;
  margin-left: 20px;
}
.reasons__card-info strong{
  font-weight: bold;
  font-size: 24px;
  line-height: 150%;
  margin-bottom: 10px;
  display: flex;
}
.reasons__card-info p{
  font-size: 18px;
}


/* готовый набор */
.section__ready-made-set{
  margin-top: 50px;
  margin-bottom: 100px;
}
.ready-made-set h2{
  max-width: 806px;
  margin-bottom: 50px;
}

/* промежуток со скидко на аксессуары */
.gap-discount-accessories{
  font-size: 44px;
}

/* аксессуары  */
.section-accessories{
  margin: 50px 0 100px 0;
}
.accessories-info{
  font-size: 24px;
  max-width: 670px;
  margin: 20px 0 30px;
}
.accessories .link{
  display: block;
  margin-bottom: 50px;
}
.circle__additionally-img{
  width: 67px;
  height: 67px;
  border-radius:50%;
  padding: 9px;
  border: 1px solid #FF9900;
  margin-right: 22px;
}
.accessories-img-1{
  background: url(img/accessories/Ellipse-300.png) no-repeat center ;
}
.accessories-img-2{
  background: url(img/accessories/Ellipse-335.png) no-repeat center ;
}
.accessories-img-3{
  background: url(img/accessories/Ellipse-383.png) no-repeat center ;
}
.accessories-img-4{
  background: url(img/accessories/Ellipse-506.png) no-repeat center ;
}
.accessories-img-5{
  background: url(img/accessories/Ellipse-508.png) no-repeat center ;
}

.assistant__product__list{
  font-size: 18px;
  border: none;
  font-family: 'Gilroy-Regular';
  width: 245px;
  margin-bottom: 12px;
}
.characteristic{
  margin-top: 10px;
}
.come-handy{
  margin-top: 20px;
}
.characteristic , .come-handy {
  position: relative;
}
.come-handy::before{
  position: absolute;
  content:'';
  width: 269px;
  height: 1px;
  background: #000;
  bottom: 0;
  left: -25px;
}
.come-handy::after{
  position: absolute;
  content:'?';
  color: #fff;
  text-align: center;
  background: #FF9900;
  width: 20px;
  height: 20px;
  border-radius:50%;
  top: 0;
  left: -28px;
}
.characteristic::after{
  position: absolute;
  content:'';
  background: url(img/accessories/settings.svg) no-repeat center , #FF9900;
  width: 20px;
  height: 20px;
  border-radius:50%;
  top: 0;
  left: -28px;
}
.catalog-size{
  display: flex;
  flex-direction: column;
  width: 100%;
}
.size__catalog__list{
  background: #FBFBFA;
  box-shadow: 0px 0px 20px rgb(0 0 0 / 10%);
  border-radius: 10px;
  font-size: 24px;
  padding: 15px;
  border: none;
  font-family: 'Gilroy-Regular';
  max-width: 280px;
  width: 100%;
  margin-top: 10px;
  margin-bottom: 30px;
}
.catalog-size span{
  font-size: 18px;
  margin-top: 20px;
}

/* отзывы клиентов */
.section-customer-reviews{
  padding-bottom: 85px;
}
.customer-reviews h2{
  max-width: 930px;
  margin-bottom: 50px;
}
/* поле с яндекс*/
.yandex-card{
  max-width: 720px;
  margin-bottom: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}
.yandex-card-box{
  display: flex;
  justify-content: space-between;
  width: 100%;
}
/* кнопка */
.customer-reviews-button{
  padding: 12px 32px;
  font-size: 24px;
}
/* звезды */
.box-star{
  margin-bottom: 5px;
}
[alt=star]{
  margin-right: 10px;
}
.rating{
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 328px;
}
.rating p{
  font-size: 72px;
  line-height: 150%;
}

/* отзывы слайдер */
.section-reviews-slider{
  padding-bottom: 80px;
}
.reviews-slider{
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}
/* карточка */
.reviews-card{
  max-width: 450px;
  padding: 30px 30px 15px 30px;
}
.reviews-card p{
  max-width: 400px;
  font-size: 18px;
  margin-top: 10px;
}
.reviews-card p a{
  font-size: 24px;
  color: rgba(0, 0, 0, 0.5);
}
.reviews-box{
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
}
.reviews-box-info{
  display: flex;
  align-items: center;
}
/* круг */
.reviews-circle{
  width: 80px;
  height: 80px;
  background: #8585CC;
  color: #fff;
  font-size: 36px;
  border-radius:50%;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 20px;
}
.color-pink{
  background: rgba(242, 133, 170, 1);
}
.color-red{
  background: #F4511E;
}
/* текст */
.personality{
  display: flex;
  flex-direction: column;
}
.personality .name{
  font-size: 24px;
}
.personality .date{
  font-size: 18px;
  color: #000000;
  opacity: 0.5;
}
/* рецепты */
.section-recipe{
  padding-top: 30px;
  padding-bottom: 190px;
  background: url(img/recipe/Rectangle-414.jpg) no-repeat center / cover;
  color: #fff;
  margin-bottom: 80px;
}
.recipe{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.recipe h2{
  max-width: 1170px;
  text-align: center;
  margin-bottom: 20px;
}
.recipe p{
  max-width: 700px;
  text-align: center;
  font-size: 24px;
  margin-top: 40px;
}
.box-recipes{
  max-width: 450px;
  padding: 13px 48px;
  border: 1px solid #FFFFFF;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.box-recipes strong{
  font-weight: bold;
  font-size: 48px;
  font-family: 'Montserrat', sans-serif;
  margin-right: 50px;
}
.box-recipes span{
  font-size: 30px;
}

/*ререгистрация */
.section-order{
  background: #fff;
  padding-top: 30px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
  padding-bottom: 60px;
}
.order-input{
  padding: 11px 0px 12px 20px;
  background: #FFFFFF;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  color: #000000;
}
.order h2{
  margin-bottom: 10px;
}
.order p{
  max-width: 600px;
  font-size: 24px;
}
.order h3{
  text-align: center;
  font-size: 24px;
  margin-top: 30px;
}
form{
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  margin-top: 40px;
  margin-bottom: 53px;
}
.order-input__name{
  width: 330px;
}
.order-input__email{
  width: 570px;
}
.order-input__tel{
  width: 450px;
}
.input-button{
  margin: auto;
  display: block;
  font-size: 20px;
  line-height: 150%;
  padding: 10px 83px;
  cursor: pointer;
}

/* как мы работаем */
.how-work{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
  margin-bottom: 105px;
}
.how-work h2{
  margin-bottom: 20px;
}
.how-work .info{
  font-size: 24px;
  margin-bottom: 50px;
}
.button__how-work{
  font-size: 20px;
  padding: 10px 80px;
  margin-top: 60px;
}
.how-work-cards{
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
}
.how-work__card{
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 267px;
  text-align: center;
  font-size: 18px;
}
.how-work__card::before{
  position: absolute;
  content:'';
  width: 101px;
  height: 75px;
  background: url(img/how-work/next.svg) no-repeat center;
  right: -140px;
  top: 53px;
}
.how-work__card:last-child::before{
  display: none;
}
[alt=how-work-img]{
  border: 2px solid #FF9900;
  padding: 25px;
  border-radius:50%;
}
.how-work__card strong{
  margin: 10px 0;
}
/* афганские казаны */
.section-avgan{
  background: #fff;
  padding-top: 100px;
  padding-bottom: 37px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
}
.avgan{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.avgan-info{
  max-width: 750px;
  flex-direction: column;
  display: flex;
  align-items: flex-start;
}
.avgan-info a{
  margin-left: 56px;
}
.avgan p{
  font-size: 24px;
  line-height: 150%;
  position: relative;
  padding-left: 28px;
  margin: 30px 0 50px;
}
.avgan p::after{
  position: absolute;
  content: '';
  background: url(img/accessories/settings.svg) no-repeat center , #FF9900;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  top: 5px;
  left: 0px;
}


/* вопросы */
.section-questions{
  margin-top: 100px;
  margin-bottom: 165px;
}
.questions{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.box-question{
  margin-top: 40px;
  padding: 30px 50px 50px 50px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 56px;
}
.box-question h3{
  font-size: 24px;
  margin-bottom: 20px;
}
.box-question p{
  padding-bottom: 17px;
  font-size: 24px;
}
.point-1 , .point-2 , .point-3 , .point-4 , .point-5{
  position: relative;
}
.box-question .point-1::after{
  position: absolute;
  content: '1';
  background: #FF9900;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  top: 0px;
  left: -35px;
  color: #fff;
  font-size: 24px;
  font-weight: 700;
  text-align: center;
}
.box-question .point-2::after{
  position: absolute;
  content: '2';
  background: #FF9900;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  top: 0px;
  left: -35px;
  color: #fff;
  font-size: 24px;
  font-weight: 700;
  text-align: center;
}
.box-question .point-3::after{
  position: absolute;
  content: '3';
  background: #FF9900;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  top: 0px;
  left: -35px;
  color: #fff;
  font-size: 24px;
  font-weight: 700;
  text-align: center;
}
.box-question .point-4::after{
  position: absolute;
  content: '4';
  background: #FF9900;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  top: 0px;
  left: -35px;
  color: #fff;
  font-size: 24px;
  font-weight: 700;
  text-align: center;
}
.box-question .point-5::after{
  position: absolute;
  content: '5';
  background: #FF9900;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  top: 0px;
  left: -35px;
  color: #fff;
  font-size: 24px;
  font-weight: 700;
  text-align: center;
}
.button__question{
  position: relative;
  padding: 10px 27px;
}

/* общие вопросы коробка */
.questions-box{
  display: flex;
  justify-content: space-around;
  width: 100%;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 56px;
  margin-bottom: 20px;
}
.questions-field{
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  max-width: 690px;
  width: 100%;
  padding: 36px 36px 36px 30px;
  background: #FFFFFF;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  margin-bottom: 30px;
}
.questions-field strong{
  font-size: 18px;
  line-height: 150%;
}
.questions-field-button{
  padding: 5px 5px 0 5px;
  background: #fff;
  border-radius: 50%;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
}

/* карта */
.section-map{
  background: url(img/map/Rectangle.jpg) no-repeat center;
  padding: 200px 0;
}
.map{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  max-width: 1170px;
  width: 100%;
  padding: 20px 80px 32px 35px;
  background: #fff;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  margin: auto;
}
/* вырхняя коробка */
.map__box-top{
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}
/* левая  сонтакты */
.map__box-top__left{
  max-width: 610px;
  width: 100%;
}
.map__box-top__left h3{
  font-size: 24px;
  line-height: 150%;
}
.map-contacts{
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
}
.contacts-network__link img{
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 50%;
  border: 1px solid #000000;
}
.contacts-network__link{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  font-size: 18px;
  margin-top: 30px;
}
/* правая фото */
.map__box-top__right h3{
  font-weight: bold;
  font-size: 24px;
  line-height: 150%;
  margin-bottom: 20px;
}
.map__box-top__right img{
  margin-right: 10px;
}
.map__img{
  position: relative;
}
.map__img::after{
  position: absolute;
  content:'';
  height: 170px;
  width: 1px;
  background:#FF9900;
  top: -20px;
  left: -30px;

}
/* соцсети ссылки */
.social-network{
  margin-top: 30px;
  display: flex;
  max-width: 970px;
  justify-content: space-between;
  width: 100%;
}
.social-network__link{
  font-size: 18px;
  display: flex;
  align-items: center;
}
.social-network__link img{
  padding: 6px;
  border: 1px solid #000000;
  border-radius: 50%;
  margin-right: 10px;
}


/* footer */
footer{
  padding: 25px 0;
  background: #fff;
}
.footer{
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
}
.footer-info{
  display: flex;
  max-width: 387px;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  font-size: 10px;
}
.footer-logo{
  margin-right: 10px;
}
.footer-nav{
  font-size: 14px;
  max-width: 443px;
  display: flex;
  justify-content: space-between;
  width: 100%;
}


/* адоптация */
@media(max-width:1500px){
  .container{
    width: 98%;
  }
  /* header */
  .header{
    padding: 18px 20px;
  }
  .header-logo{
    margin-right: 20px;
  }
  .header-top{
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .contact__delivery, .contact__orders{
    font-size: 15px;
    padding-right: 6px;
  }
  .contact__tel{
    font-size: 16px;
  }
  .contact__pickup{
    font-size: 15px;
  }
  .header-bottom{
    align-items: flex-end;
  }
  .menu{
    flex-wrap: wrap;
  }
  .menu a{
    margin:10px 16px;
  }

  /* промо */
  h1{
    font-size: 45px;
    line-height: 120%;
    margin-bottom: 20px;
  }
  h1 strong{
    font-size: 60px;
    line-height: 120%;
  }
  .promo-text::before{
    display: none;
  }
  .promo-text {
    font-size: 30px;
  }
  /* рассрочка */
  .possibility .possibility-img{
    width: 70px;
    height: 70px;
  }
  .possibility p{
    font-size: 16px;
  }

  /* положительные отзывы  */
  .title , .positive-reviews__info strong{
    font-size: 40px;
  }
  .positive-reviews__info{
    max-width:700px;
  }
  .positive-reviews__title{
    margin: 0;
  }
  .positive-reviews__body{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .positive-reviews__box-man{
    background: linear-gradient(
0deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 38.59%), url(img/positive-reviews/man.png) no-repeat top;
    height: 500px;
  }
  .positive-reviews__card{
    padding: 10px;
  }

  /* рассрочка */
  .installment-plan__card{
    margin: 10px;
  }

}
@media(max-width:992px){
  
  /* промо */
  h1 strong{
    font-size: 40px;
  }
  .promo-text{
    font-size: 20px;
  }
  .button__get-gift{
    font-size: 18px;
  }
  /* возможности */
  .opportunities{
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .possibility{
    margin: 20px 0;
  }
  .positive-reviews__card{
    margin: 10px;
  }

  /* оригинальные чугунные... */
  .warranty-box{
    display: none;
  }
  /* осторожно */
  .positive-reviews__info strong{
    font-size: 18px;
  }
  .carefully{
    background: url(img/original/image-38.png) no-repeat top left / 30% , #fff;
  }
  .carefully__info{
    margin-left: 274px;
    font-size: 18px;
  }
  .coin-box{
    display: none;
  }
  .carefully__box-footer__text h3{
    font-size: 25px;
  }
  /* положительные отзывы */

  .positive-reviews__info{
    font-size: 20px;
  }
  .box-positive-reviews__cards{
    justify-content: center;
  }
  /* промежуток */
  .gap{
    font-size: 27px;
  }
  /* осторожно */
  .catalog__box-links{
    margin-left: 0;
  }
  /* с комплектами тожt... */
  .box-set{
    flex-direction: column;
  }
  .box-set .left-side{
    border: none;
    margin-bottom: 20px;
  }
  /*  4 причины купить  */
  .reasons-buy span{
    font-size: 20px;
    max-width: 658px;
  }
  .reasons__card{
    margin-bottom: 20px;
  }
  /* 482 отзыва */
  .customer-reviews h2 img{
    width: 20px;
  }
  .customer-reviews-button {
    font-size: 18px;
  }
  /* form */
  form{
    flex-direction: column;
  }
  form input{
    max-width: 400px;
    width: 100%;
    margin-bottom: 20px;
  }
  .order-input__name{
    width: 400px;
  }
  /* как мы работаем */
  .how-work-cards{
    flex-wrap: wrap;
  }
  
  .how-work__card::before {
    display: none;
  }
  .how-work__card{
    margin-bottom: 20px;
  }

  /* продаем оригинал */
  .avgan img{
    width: 300px;
  }
  .avgan p{
    font-size: 20px;
  }
  /* рецепьы */
  .box-recipes{
    max-width: 335px;
  }
  .recipe p{
    font-size: 18px;
  }
  h2{
    font-size: 25px;
  }
  .how-work .info{
    max-width: 700px;
  }
  /* карта */
  .map__box-top {
    flex-direction: column;
  }
  .map__img::after{
    display: none;
  }
  .social-network__link {
    font-size: 16px;
  }

  /* footer */
  .footer{
    flex-direction: column;
  }
  .footer-nav{
    margin: 10px 0;
  }
  .contacts{
    justify-content: center;
  }
  .contact__delivery, .contact__orders , .contact__pickup{
    display: none;
  }
  .header-top{
    border: none;
  }

  /* promo */
  h1{
    font-size: 40px;
  }
  h1 strong{
    font-size: 50px;
  }
  .promo-text {
    font-size: 25px;
  }
  .refund-money{
    font-size: 18px;
  }
  .promo-get-gift {
    font-size: 20px;
  }
  .box-bonuses , .prom__box-buttons{
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }
  .text-recipes {
    margin-bottom: 20px;
    font-size: 22px;
  }
  .text-discount{
    font-size: 22px;
  }
  .button__get-gift{
    font-size: 20px;
    margin-bottom: 20px;
  }

  /* подарок */
  .box-bonuses, .prom__box-buttons , .promo-info {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .box-bonuses{
    max-width: 100%;
  }
  /* оригинальные чугунные ... */
  .original__box-body{
    background: url(img/original/img-34.png) no-repeat right / 50%;
  }
  .carefully__info{
    margin-bottom: 25px;
  }

/* возможности */
  .possibility{
    margin:0 30px;
  }
  .possibility p{
    text-align: center;
  }

  /* ваши комплекты */
  .right-side .row-cards .card-set{
    margin: 5px;
  }
  .box-set .right-side{
    margin-left: 10px;
  }
  .box-set p{
    font-size: 16px;
  }
  .box-set h3 {
    font-size: 20px;
  }
  /* промежуток */
  .gap{
    font-size: 30px;
  }
  /* положительные отзывы */
  .title, .positive-reviews__info strong{
    font-size: 35px;
  }
  .positive-reviews__info{
    font-size: 25px;
  }

  /* 6 видов  */
  .menu-button{
    flex-direction: column;
  }
  .differences p {
    font-size: 18px;
  }

  /* 4 причины купить */
  .section-reasons-buy{
    padding: 50px 10px;
  }
  .reasons-buy {
    background: url(img/reasons-buy/image-54.jpg) no-repeat right top / 20%;
  }

  /* рассрочка */
  .installment-plan__cards{
    flex-wrap: wrap;
  }
  .installment-plan__card{
    margin: 20px;
  }
  /* карточки */
  .catalog__cards{
    justify-content: space-around;
  }
  .title, .positive-reviews__info strong{
    font-size: 30px;
  }

  /* карточки в отзывах */
  .reviews-card p {
    font-size: 15px;
  }
  .reviews-box{
    flex-direction: column;
  }
  .reviews-box-info{
    margin-bottom: 10px;
  }
  .reviews-card{
    padding: 10px;
    max-width: 315px;
  }

  /* 964 + рецепты */
  .box-recipes strong{
    font-size: 38px;
  }

  /* форма */
  form input{
    max-width: 300px;
  }

  /* как мы работаем */
  .how-work .info{
    font-size: 20px;
  }

  .coin-box::before{
    display: none;
  }
  /* как мы работаем */
  .how-work__card::before{
    background: url(img/how-work/next.svg) no-repeat center / 40%;
    margin-right: 90px;
  }
  .how-work__card p{
    font-size: 16px;
  }
  /* частые вопросы */
  .box-question p{
    font-size: 20px;
  }
  /* map */
  .map{
    padding: 10px 20px;
  }
  .map__box-top__left h3 , .map__box-top__right h3{
    font-size: 18px;
  }
  .contacts-network__link{
    font-size: 16px;
  }
  .map__box-top__left{
    max-width: 470px;
  }
  /* footer */
  .footer-nav{
    max-width: 370px;
  }

}
@media(max-width:768px){
  /* header */
  .header-bottom{
    flex-direction: column;
  }
  /* промо */
  h1 strong , h1{
    font-size: 25px;
  }
  .promo-text{
    font-size: 18px;
  }
  .refund-money{
    font-size: 16px;
  }
  .promo-get-gift{
    font-size: 16px;
  }
  .text-discount  , .text-recipes{
    font-size: 18px;
  }
  .button__get-gift{
    text-align: center;
    font-size: 15px;
  }
  .title, .positive-reviews__info strong{
    font-size: 24px;
  }
  .positive-reviews__info{
    font-size: 17px;
  }
  .installment-plan__title{
    background: none;
    font-size: 18px;
  }
  .installment-plan__cards{
    flex-direction: column;
  }
  [alt=gif-box]{
    display: none;
  }
  .promo-get-gift {
    font-size: 18px;
  }

  .original__box-body{
    background: none;
  }
  .original__box-body{
    margin-bottom: 20px;
  }
  /* осторожно */
  .carefully__title{
    margin-left: 160px;
  }
  .carefully__info{
    margin-left: 0;
  }
  .link{
    font-size: 18px;
  }
  /* с комплектом тоже.. */
  .box-set .right-side .row-cards{
    flex-wrap: wrap;
  }

  /* 6 видов */
  .section-kinds{
    display: none;
  }
  /* 4 причины */
  .reasons-buy{
    background: none;
  }

  /* как мы работаем */
  .button__how-work{
    font-size: 17px;
  }
  .title{
    font-size: 20px;
  }
  /* карта */
  .social-network{
    flex-wrap: wrap;
    justify-content: space-around;
  }
  .box-question p{
    font-size: 17px;
  }
  .gap{
    font-size: 24px;
  }
  .possibility{
    margin-bottom: 20px;
  }
}

@media(max-width:560px){
  
  /* промо */
  .promo-info{
    padding: 10px;
  }
  .original-manager{
    display: none;
  }
  .product-links__info strong {
    font-size: 19px;
  }
  .carefully{
    background: #fff;
    padding-bottom: 50px;
  }
  .carefully__title{
    margin: 0;
  }
  .carefully__box-footer__text h3{
    font-size: 20px;
  }
  .gap{
    font-size: 20px;
  }
  .circle__family-img{
    display: none;
  }
  .subdirectory-box{
    font-size: 20px;
  }
  .reasons__card-circle{
    display: none;
  }
  .accessories-info{
    font-size: 18px;
  }
  .text-crossed::before{
    width: 50%;
  }
  .yandex-card{
    display: none;
  }
  .section-customer-reviews{
    padding-bottom: 0;
  }
  .box-recipes strong , .box-recipes span {
    font-size: 24px;
  }
  .box-recipes{
    width: 270px;
  }
  .order h3 {
    font-size: 17px;
  }
  .input-button , .button__how-work{
    font-size: 15px;
    padding: 10px 15px;
  }
  .button__how-work{
    font-size: 13px;
  }
  .avgan img{
    display: none;
  }
  .section-avgan{
    padding-top: 30px;
  }
  .avgan-info a{
    margin-left: 20px;
  }
  .box-question p{
    font-size: 15px;
  }
  .box-question .point-5::after , .box-question .point-4::after , .box-question .point-3::after , .box-question .point-2::after , .box-question .point-1::after{
    width: 15px;
    height: 15px;
    top: 0px;
    left: -22px;
    font-size: 13px;
  }
  .questions-field strong {
    font-size: 15px;
  }
  .section-map{
    padding-top: 50px;
  }
  .questions-field{
    padding: 10px 20px;
  }
  .map__box-top__right{
    display: none;
  }
  .map-contacts{
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .map__box-top__left h3{
    text-align: center;
  }
  .footer-nav{
    flex-direction: column;
    text-align: center;
  }
}